<!-- Date: 2026-08-07 | Time: 10:42:24 Europe/London | File version: 1.0.1 | Description: Configures the .NET Framework runtime for APTOFI File Sharing. -->
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <gcConcurrent enabled="true" />
  </runtime>
</configuration>
